@model IEnumerable<Sito.Models.Product>

@{ ViewBag.Title = "Pagina Principale";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novità!</h2>
<hr />

<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</div>

@if (Model.Count() > 0)
{
    <br />
    <div class="container">
        <div class="row" style="display: flex; flex-wrap: wrap">
            @foreach (Sito.Models.Product item in Model)
            {
                <div class="col-lg-3">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = item.product_id })">
                        <img src="@item.img_url" style="width: 160px; height: 212px;" />
                    </a>
                    <br />

                    @{string title = $"{item.brand} {item.model}";}
                    <a class="h3" style="white-space: nowrap; text-overflow: ellipsis" href="@Url.Action("ProductDetails", "Home", new { id = item.product_id })"><b>@title</b></a>
                    <div class="h4">@item.price €</div>
                </div>
            }
        </div>
    </div>
}