@model Sito.Models.Order

<hr />
<div class="row">
    <div class="col-lg-2">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <a href="@Url.Action("ProductDetails", "Home", new { id = Model.product.product_id })">
            <img src="@Model.product.img_url" style="width: 160px; height: 212px;" />
        </a>
    </div>
    <div class="col-lg-10">
        <a href="@Url.Action("ProductDetails", "Home", new { id = Model.product.product_id })">
            <h3><b>@Model.product.brand @Model.product.model</b></h3>
        </a>
        <h4><b>Ordine effettuato:</b> @Model.date</h4>
        <h4><b>Spedito a:</b> @Model.address (@Model.zip_code)</h4>
        <h4><b>Totale:</b> @Model.product.price €</h4>
        <h4><b>Quantità:</b> @Model.quantity</h4>
    </div>
</div>

