@model Sito.Models.ProductDetails
@{ string title = $"{Model.brand} {Model.model}";}

@{
    ViewBag.Title = $"Dettagli Prodotto - {title}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>
<hr />

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src="@Model.img_url" style="width: 160px; height: 212px;" />
        </div>
        <div class="col-lg-6">
            <table class="table table-sm">
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.cpu)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.cpu)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.storage)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.storage) GB
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.battery)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.battery) mAh
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.ram)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ram) GB
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.os)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.os)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.camera)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.camera) MP
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.display)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.display)&quot;
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.sim)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.sim)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <h3><b>@Html.DisplayFor(model => model.price) €</b></h3>

            @if (Model.quantity < 10)
            {
                <div class="h4">Meno di 10 pezzi disponibili!</div>
            }

            @{Html.RenderPartial("QuantitySelector", new Sito.Models.QuantitySelector() { quantity = 0, prod_id = Model.product_id, is_details_page = true }); ;}
        </div>
    </div>
</div>
