@model Sito.Models.QuantitySelector

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.prod_id)
        <h4>@Html.DisplayNameFor(model => model.quantity)</h4>
        @Html.EditorFor(model => model.quantity)

        @if (!Model.is_details_page)
        {
            <button type="submit" class="btn btn-default" formaction="@Url.Action("AddToCart", "Home")" formmethod="post">
                <img src="~/Icons/cart.png" style="width: 12px; height: 12px;" />
            </button>
        }
        else
        {
            <br />
            <br />
            <button type="submit" class="btn btn-default" formaction="@Url.Action("AddToCart", "Home")" formmethod="post">
                Aggiungi al Carrello
            </button>
            <button type="submit" class="btn btn-default" formaction="@Url.Action("Checkout", "Home")" formmethod="post">
                Acquista
            </button>
        }
        <br />
        @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
    </div>
}
